.login{
  background-image: url('../assets/Images/artistic-blurry-colorful-wallpaper-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.main{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  position: relative;
  top: 10%;
}

form {
    display: flex;
    flex-direction: column;
    /* max-width: 800px; */
    width: 35vw;
    height: 45vh;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border:1px solid white;
    border-radius: 30px;
   position: relative;
   top: 28%;
  }
  .main h2{
    text-align: center;
    color:white
  }
  
  label {
    font-size: 16px;
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    
  }
  
  input {
    height: 35px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: transparent;
    color:white
  }
  .main input::placeholder{
    color:rgba(238, 224, 224, 0.639);
    font-size: 13px;
  }
  
  input[type="submit"] {
    margin-top: 25px;
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    /* width: 100px;
    height: 35px; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; */
  }
  
  input[type="submit"]:hover {
    background-color: black;
    color:white;
    font-weight: bold;
  }
  input:-webkit-autofill { 
    -webkit-background-clip: text;
    -webkit-text-fill-color:white;
}
input:focus{
  outline: none;
}
.main a{
  text-decoration: none;
  color:white;
  font-size: 12px;
  margin-top: 13px;
  margin-bottom: auto;
}
.main a:hover{
  color: yellow;
  font-weight: bold;
}
.errorClass{
  text-align: center;
  color: red;
  padding-top: 5px;
}
@media screen and (max-width: 480px) {
  form{
    width: 66vw;
    height: 33vh;
  }

}