.historyBar, .historyResult{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    list-style: none;
    margin-top: 20px;
}
.historyBar{
    font-weight: bold;
    margin-top: 20px;
}
.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:30%;
    left:45%
  }